<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  </head>
  <style>
      .d-flex{
          margin-left: 16vw;
      }
      .col-md-6{
        margin-top: 7vh;
    margin-left: 24vw;
      }
      #rate{
        margin-left: 15vw;
      }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-center">
          <a class="navbar-brand" href="#">Amazon</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" method="get" action="/search" >
              <input class="form-control me-2" name="search" id="search" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container my-3">
        <h3 id="rate" >Top Rated Proucts:</h3>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">realme C11</h3>
            <div class="mb-1 text-muted">Price: ₹6,999.00</div>
            <p class="card-text mb-auto">(Cool Blue, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers</p>
            <h5 class="stretched-link" >In Stock: Yes</h5>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://m.media-amazon.com/images/I/71ilEzXMAZS._SL1500_.jpg" class="bd-placeholder-img" width="200" height="250"  alt="">
  
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">realme Buds 2</h3>
            <div class="mb-1 text-muted">Price: ₹499.00</div>
            <p class="card-text mb-auto">Neo in-Ear Wired Earphones with HD Mic for Android Smartphones (Black)</p>
            <h5 class="stretched-link" >In Stock: Yes</h5>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://m.media-amazon.com/images/I/61BsLMD3u2S._SL1500_.jpg" class="bd-placeholder-img" width="200" height="250"  alt="">
  
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">realme Buds Wireless 2</h3>
            <div class="mb-1 text-muted">Price: ₹1,499.00</div>
            <p class="card-text mb-auto">Neo (Black) Earphones with Type-C Fast Charge, Bass Boost+ & Magnetic Instant Connection</p>
            <h5 class="stretched-link" >In Stock: Yes</h5>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://m.media-amazon.com/images/I/61+3f5q7T6S._SL1500_.jpg" class="bd-placeholder-img" width="200" height="250"  alt="">
  
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">realme narzo 30</h3>
            <div class="mb-1 text-muted">Price: ₹14,999.00</div>
            <p class="card-text mb-auto">(Racing Blue, 6GB RAM, 128GB Storage) - MediaTek Helio G95 processor I Full HD+ display with No Cost EMI/Additional Exchange Offers</p>
            <h5 class="stretched-link" >In Stock: No</h5>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://m.media-amazon.com/images/I/719tm7l723L._SL1500_.jpg" class="bd-placeholder-img" width="200" height="250"  alt="">
  
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">realme Smart Watch 2 Pro</h3>
            <div class="mb-1 text-muted">Price: ₹4,999.00</div>
            <p class="card-text mb-auto">(Space Grey) with 1.75 inch (4.4 cm) HD Super Bright Touchscreen, Dual-Satellite GPS, 14-Day Battery, SpO2 & Heart Rate Monitoring, IP68 Water Resistance</p>
            <h5 class="stretched-link" >In Stock: As soon </h5>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://m.media-amazon.com/images/I/71SRecX3wbL._SL1500_.jpg" class="bd-placeholder-img" width="200" height="250"  alt="">
  
          </div>
        </div>
      </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>